/* Lexend Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .nav-bg {
    background-color: rgb(225, 231, 172);
  }

  .bg-color {
    border: none;
    background-color: rgb(180, 244, 97);
  }

  .card-border {
    border: 1px solid rgba(17, 17, 17, 0.1);
  }

  .text-blacker {
    color: rgb(17, 17, 17);
  }

  .text-gray {
    color: rgba(17, 17, 17, 0.7);
  }

  .modal-bg {
    background-color: rgb(230, 224, 217);
  }